<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//db.onlinewebfonts.com/c/7e0a3cd758938b211aa2fba1ba2984cc?family=ArianLT-Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spinnaker" rel="stylesheet">
</head>
<body>
    <div class="siteBackground-container">
        <div class="siteBackground"></div>
    </div>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="visible-xs-block col-xs-12">
                    <div class="social-links">
                        <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-9">
                    <a href="#">
                    <img  class="logo" src="../../images/logo.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 hidden-xs nav-soc-wrp">
                <nav class="nav">
                    <a href="" class="active">Home</a>
                    <a href="">About</a>
                    <div>
                        <a href="" class="with-dropdown">Collections</a>
                        <div class="dropdown">
                            <a href="">Bridal</a>
                            <a href="">Rings</a>
                            <a href="">Earrings</a>
                            <a href="">Necklaces</a>
                            <a href="">Bracelets</a>
                        </div>
                    </div>
                    <a href="">Contact us</a>
                    <a href="">Book Online</a>
                    <a href="">Blog</a>
                    <a href="">Members</a>
                </nav>
                <div class="social-links">
                    <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="about-us__page-container">
            <div class="about-us__page-right">
                <div>
                    <span>About The Karat Shop</span>
                    <p>For over 40 years, The Karat Shop has been offering the finest quality jewelry at discounted prices.</p>
                    <P>The Karat Shop began in 1976 as a wholesale business supplying beautiful jewelry to retail stores. As time passed, we realized that offering our jewelry directly to the public would cut out the middleman and save customers 50% or more. The response was enormous and we continue our high quality, low markup policy today.</P>
                    <P>Years later, our business has matured, our loyal client base has expanded, and our policy hasn't changed. We still offer the largest selection of fine jewelry in Huntington Station at everyday discounted prices. We have many years of experience and expertise to assist our customers with all of their jewelry needs. Our courteous and professional sales staff are always ready to offer personal service or answer your questions, and our highly skilled jewelers are available to service your jewelry whenever needed.</P>
                    <P>We Invite you to shop and compare. Then come to The Karat Shop and speak to one of our kind and courteous staff members.</P>
                    <P>Once you shop at The Karat Shop, you'll never shop anyplace else. We've been proudly serving Long Island and its surrounding areas for many years.</P>
                </div>
            </div>
            <div class="about-us__page-left">
                <img src="../../images/about.jpg" alt="">
            </div>
        </div>
    </section>



    <footer class="footer">
        <div class="container">
            <div class="social-links">
                <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                <a href=""><img src="../../images/icon/twit.jpg" alt=""></a>
                <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
            </div>
            <p>Karatshop.com</p>
            <p class="copy-right">© 2018 by Karat Shop. Proudly created with Monomer, LLC</p>
        </div>
    </footer>
</body>
</html>