<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//db.onlinewebfonts.com/c/7e0a3cd758938b211aa2fba1ba2984cc?family=ArianLT-Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spinnaker" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div class="siteBackground-container">
        <div class="siteBackground"></div>
    </div>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="visible-xs-block col-xs-12">
                    <div class="social-links">
                        <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-9">
                    <a href="#">
                    <img  class="logo" src="../../images/logo.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 hidden-xs nav-soc-wrp">
                <nav class="nav">
                    <a href="" class="active">Home</a>
                    <a href="">About</a>
                    <div>
                        <a href="" class="with-dropdown">Collections</a>
                        <div class="dropdown">
                            <a href="">Bridal</a>
                            <a href="">Rings</a>
                            <a href="">Earrings</a>
                            <a href="">Necklaces</a>
                            <a href="">Bracelets</a>
                        </div>
                    </div>
                    <a href="">Contact us</a>
                    <a href="">Book Online</a>
                    <a href="">Blog</a>
                    <a href="">Members</a>
                </nav>
                <div class="social-links">
                    <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </header>

     <section>
        <div class="container blog__container">
           <div class="member-login__container">
                <a href="./become-a-member.html" class="user-icon">
                    <img src="../../images/icon/users.png" alt="">
                </a>
                <a href="" class="sign-up-btn popup-btn" data-mfp-src="#sign-up-popup">Login / Sign up</a>
           </div>

           <div class="user-account__container">
               <div class="user-account__header">
                   <div class="user-account__header-bg"></div>
                   <div class="user-account__header-info">
                      <div>
                        <div class="user-account__header-info-photo"></div>
                        <div class="name-joined-wrp">
                            <p class="user-account__header-info-name">The Karat Shop</p>
                            <p class="user-account__header-info-joined">Joined: 5 months ago</p>
                        </div>
                      </div>
                      <div class="follow-wrp">
                          <a href="" class="follow-link">
                              <span>0</span>
                              <span>Followers</span>
                          </a>
                          <a href="" class="follow-link">
                                <span>0</span>
                                <span>Following</span>
                          </a>    
                          <a href="#" class="book-btn">Follow</a>
                          <div class="follow-btn-append">
                            <div class="share-icon">
                                <span>•</span>
                                <span>•</span>
                                <span>•</span>
                            </div>
                        </div>
                      </div>
                   </div>
               </div>
               <div class="user-account__body">
                   <div class="user-account__body-navigation">
                       <a href="">About</a>
                       <a href="" class="active">
                           Blog Posts
                           <span>5</span>
                        </a>
                       <a href="">Blog Comments</a>
                       <a href="">Blog Likes</a>
                   </div>
                   <div class="user-account__body-content">
                       <div class="title">Blog Posts</div>
                       <div class="blog__item user-account">
                            <img src="../../images/blog/file1.jpg" class="blog__item-img" alt="">
                            <div class="blog__item-text">
                               <div class="blog__item-author-date">
                                    <a href="./admin-account.html" class="blog__item-author"> The Karat Shop</a>
                                    <img src="../../images/icon/crown.png" class="post-author" alt="">
                                    <div class="post-author-hover">Admin</div>
                                    <div class="blog__item-post-date">
                                        <span class="blog__item-little-text">Jun 20</span>
                                        <span>•</span>
                                        <span class="blog__item-little-text">2 min</span>
                                    </div>
                               </div>
                                <a href="" class="blog__item-link-wrp">
                                    <span class="blog__item-title">Pairing Jewelry With Your Outfit</span>
                                    <span>Incorporating jewelry into your wardrobe is a great way to add some glamour and sophistication to your look. But pairing jewelry with clothes can be rather tricky at times...</span>
                                </a>
                                <div class="blog__item-info">
                                    <div>
                                        <span class="blog__item-little-text">7 views</span>
                                        <a href="#" class="blog__item-little-text">Write a comment</a>
                                    </div>
                                    <a href="#" class="blog__item-info-like"><img src="../../images/icon/heart.png" alt=""></a>
                                </div>
                                <div class="share-icon">
                                    <span>•</span>
                                    <span>•</span>
                                    <span>•</span>
                                </div>
                                <div class="share-post popup-btn" data-mfp-src="#share-popup">
                                    <a href="">
                                        <img src="../../images/icon/share.png" alt="">
                                        <span>Share Post</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                   </div>
               </div>
           </div>

    <footer class="footer">
        <div class="container">
            <div class="social-links">
                <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                <a href=""><img src="../../images/icon/twit.jpg" alt=""></a>
                <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
            </div>
            <p>Karatshop.com</p>
            <p class="copy-right">© 2018 by Karat Shop. Proudly created with Monomer, LLC</p>
        </div>
    </footer>

     <div class="mfp-hide">
        <div id="login-popup" class="login-popup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12">
                        <p class="login-popup__title">Log in</p>
                        <div class="row">
                            <div class="col-sm-5 hidden-xs">
                                <form action="" class="login-popup__form">
                                    <input type="text" class="login-popup__form-input" placeholder="Email">
                                    <input type="password" class="login-popup__form-input" name=""   placeholder="Password">
                                    <div class="login-popup__form-container">
                                        <input type="checkbox" class="custom-checkbox" name="" id="remember-me">
                                        <label for="remember-me" class="custom-label">Remember Me</label>
                                        <a href="" class="popup-btn forget-password-link" data-mfp-src="#forgot-password-popup">Forgot password?</a>
                                    </div>
                                    <button type="submit" class="login-popup__form-btn">Log In</button>
                                    <p class="login-popup__form-notice">Don't have an account? <a href="" class="popup-btn forget-password-link" data-mfp-src="#sign-up-popup">Sign Up</a></p>
                                </form>
                            </div>
                            <div class="col-sm-2 hidden-xs vertical-line"></div>
                            <div class="col-sm-5 col-xs-12">
                                <a href="" class="login-with facebook">Log in with Facebook</a>
                                <a href="" class="login-with google">Log in with Google+</a>  
                            </div>
                            <div class="visible-xs-block col-xs-12">
                                <a href="" class="popup-btn login-popup__form-notice email" data-mfp-src="#login-with-email">Log in with Email</a></p>
                            </div>
                            <div class="visible-xs-block col-xs-12">
                                <p class="login-popup__form-notice">Don't have an account? <a href="" class="popup-btn forget-password-link" data-mfp-src="#sign-up-popup">Sign Up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button title="Close (Esc)" type="button" class="mfp-close"></button>
            </div>
        </div>
    </div>

    <div class="mfp-hide">
        <div id="forgot-password-popup" class="login-popup">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        <p class="login-popup__title">Reset Password</p>
                        <p class="login-popup__subtitle">Please enter your email address</p>
                        <form action="" class="login-popup__form">
                            <input type="text" class="login-popup__form-input" placeholder="Email">
                            <button type="submit" class="login-popup__form-btn">Go</button>
                        </form>
                    </div>
                </div>
                <button title="Close (Esc)" type="button" class="mfp-close"></button>
            </div>
        </div>
    </div>

    <div class="mfp-hide">
        <div id="sign-up-popup" class="login-popup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12">
                        <p class="login-popup__title">Sign Up</p>
                        <div class="row">
                            <div class="col-sm-5 hidden-xs">
                                <form action="" class="login-popup__form">
                                    <input type="text" class="login-popup__form-input" placeholder="Email">
                                    <input type="password" class="login-popup__form-input" name=""   placeholder="Password">
                                    <input type="password" class="login-popup__form-input" name=""   placeholder="Retype password">
                                    <button type="submit" class="login-popup__form-btn">Go</button>
                                    <p class="login-popup__form-notice">Already a member? <a href="" class="popup-btn forget-password-link" data-mfp-src="#login-popup">Log in</a></p>
                                </form>
                            </div>
                            <div class="col-sm-2 hidden-xs vertical-line"></div>
                            <div class="col-sm-5 col-xs-12">
                                <a href="" class="login-with facebook">Log in with Facebook</a>
                                <a href="" class="login-with google">Log in with Google+</a>  
                            </div>
                            <div class="visible-xs-block col-xs-12">
                                <a href="" class="popup-btn login-popup__form-notice email" data-mfp-src="#signup-with-email">Sign up with Email</a></p>
                            </div>
                            <div class="visible-xs-block col-xs-12">
                                <p class="login-popup__form-notice">Already a member? <a href="" class="popup-btn forget-password-link" data-mfp-src="#login-popup">Log in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button title="Close (Esc)" type="button" class="mfp-close"></button>
            </div>
        </div>
    </div>

     <div class="mfp-hide">
        <div id="login-with-email" class="login-popup">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        <p class="login-popup__title">Log in</p>
                        <form action="" class="login-popup__form">
                            <input type="text" class="login-popup__form-input" placeholder="Email">
                            <input type="password" class="login-popup__form-input" name=""   placeholder="Password">
                            <div class="login-popup__form-container">
                                <input type="checkbox" class="custom-checkbox" name="" id="remember-me">
                                <label for="remember-me" class="custom-label">Remember Me</label>
                            </div>
                            <button type="submit" class="login-popup__form-btn">Log in</button>
                        </form>
                        <a href="" class="popup-btn forget-password-link" data-mfp-src="#forgot-password-popup">Forgot password?</a>
                        <p class="login-popup__form-notice">Don't have an account? <a href="" class="popup-btn forget-password-link" data-mfp-src="#sign-up-popup">Sign Up</a></p>
                    </div>
                </div>
                <button title="Close (Esc)" type="button" class="mfp-close"></button>
            </div>
        </div>
    </div>

    <div class="mfp-hide">
        <div id="signup-with-email" class="login-popup">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        <p class="login-popup__title">Sign Up</p>
                        <form action="" class="login-popup__form">
                            <input type="text" class="login-popup__form-input" placeholder="Email">
                            <input type="password" class="login-popup__form-input" name=""   placeholder="Password">
                            <input type="password" class="login-popup__form-input" name=""   placeholder="Retype password">
                            <button type="submit" class="login-popup__form-btn">Go</button>
                        </form>
                        <p class="login-popup__form-notice">Already a member? <a href="" class="popup-btn forget-password-link" data-mfp-src="#login-popup">Log in</a></p>
                    </div>
                </div>
                <button title="Close (Esc)" type="button" class="mfp-close"></button>
            </div>
        </div>
    </div>


</body>
</html>