<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//db.onlinewebfonts.com/c/7e0a3cd758938b211aa2fba1ba2984cc?family=ArianLT-Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spinnaker" rel="stylesheet">
</head>
<body>
    <div class="siteBackground-container">
        <div class="siteBackground"></div>
    </div>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="visible-xs-block col-xs-12">
                    <div class="social-links">
                        <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-9">
                    <a href="#">
                    <img  class="logo" src="../../images/logo.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 hidden-xs nav-soc-wrp">
                <nav class="nav">
                    <a href="" class="active">Home</a>
                    <a href="">About</a>
                    <div>
                        <a href="" class="with-dropdown">Collections</a>
                        <div class="dropdown">
                            <a href="">Bridal</a>
                            <a href="">Rings</a>
                            <a href="">Earrings</a>
                            <a href="">Necklaces</a>
                            <a href="">Bracelets</a>
                        </div>
                    </div>
                    <a href="">Contact us</a>
                    <a href="">Book Online</a>
                    <a href="">Blog</a>
                    <a href="">Members</a>
                </nav>
                <div class="social-links">
                    <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </header>
    <section class="collection__container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="collection_row">
                        <div class="right">
                            <span>Rings</span>
                            <a href="" class="common-btn hidden-xs">VIEW DESIGNER RINGS</a>
                        </div>
                        <div class="left">
                            <img src="../../images/collection/1.jpg" alt="">
                            <img src="../../images/collection/2.jpg" alt="">
                            <img src="../../images/collection/3.jpg" alt="">
                            <img src="../../images/collection/4.jpg" alt="">
                        </div>
                        <div class="visible-xs-block collection__btn-wrp">
                            <a href="" class="common-btn">VIEW DESIGNER RINGS</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="collection_row">
                        <div class="right">
                            <span>BRACELETS</span>
                            <a href="" class="common-btn hidden-xs">VIEW BANGLES AND BRACELETS</a>
                        </div>
                        <div class="left">
                            <img src="../../images/collection/5.jpg" alt="">
                            <img src="../../images/collection/6.jpg" alt="">
                            <img src="../../images/collection/7.jpg" alt="">
                            <img src="../../images/collection/8.jpg" alt="">
                        </div>
                        <div class="visible-xs-block collection__btn-wrp">
                            <a href="" class="common-btn">VIEW BANGLES AND BRACELETS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
            <div class="container">
                <div class="social-links">
                    <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/twit.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                </div>
                <p>Karatshop.com</p>
                <p class="copy-right">© 2018 by Karat Shop. Proudly created with Monomer, LLC</p>
            </div>
    </footer>
</body>
 </html>