<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//db.onlinewebfonts.com/c/7e0a3cd758938b211aa2fba1ba2984cc?family=ArianLT-Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spinnaker" rel="stylesheet">
</head>
<body>
    <div class="siteBackground-container">
        <div class="siteBackground"></div>
    </div>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="visible-xs-block col-xs-12">
                    <div class="social-links">
                        <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-9">
                    <a href="#">
                    <img  class="logo" src="../../images/logo.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 hidden-xs nav-soc-wrp">
                <nav class="nav">
                    <a href="" class="active">Home</a>
                    <a href="">About</a>
                    <div>
                        <a href="" class="with-dropdown">Collections</a>
                        <div class="dropdown">
                            <a href="">Bridal</a>
                            <a href="">Rings</a>
                            <a href="">Earrings</a>
                            <a href="">Necklaces</a>
                            <a href="">Bracelets</a>
                        </div>
                    </div>
                    <a href="">Contact us</a>
                    <a href="">Book Online</a>
                    <a href="">Blog</a>
                    <a href="">Members</a>
                </nav>
                <div class="social-links">
                    <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container contact-section">
            <p class="contact-section__title">Contact us</p>
            <p class="contact-section__paragraph">We are here to help you with any questions you may have. Please feel free to contact us using any of the methods below.<br> For quick answers to questions about shopping on our site or other common customer service concerns, please read our<br> Online Shopping Assistance and Frequently Asked Questions pages. </p>
            <div class="phone-schedule__wrp">
                <p>Call us: 631-271-5151</p>
                <ul>
                    <li>Store Hours:</li>
                    <li>Monday - Wednesday: 11am - 6pm</li>
                    <li>Thursday: 11am - 7pm</li>
                    <li>Friday - Saturday: 11am - 6pm</li>
                    <li>Sunday: Closed</li>
                </ul>
            </div>
            <div class="location__container">
                <p class="location__title">LOCATION</p>
                <p class="location__subtitle">102 W. Jericho Tpke<br>Huntington Station, NY 11746</p>
                <div class="form-map__container">
                    <form action="" class="contant-form pbz_form clear-styles"
                        data-error-title="Ошибка отправки!"
                        data-error-message="Please add a valid email."
                        data-success-title="Thanks! Message sent."
                        data-success-message="Thanks! Message sent.">
                        <input class="first" type="text" name="name" placeholder="Full Name*" data-title="full name">
                        <input class="second" type="email" name="email" placeholder="Email Address*" data-title="Email" data-validate-required="Обязательное поле" data-validate-email="Неправильный email">
                        <input type="tel" name="phone" placeholder="Phone Number" data-title="phone" data-validate-phone="Неправильный номер">
                        <textarea name=""   rows="5" placeholder="Write Your Request"></textarea>
                        <button type="submit" class="w100 amt15 amb15">Submit Now</button>
                    </form>
                    <div class="map-wrp">
                        <iframe src="https://static.parastorage.com/services/santa/1.4664.27/static/external/googleMap.html?language=en&lat=40.8283003&long=-73.413633&address=102%20W%20Jericho%20Turnpike,%20Huntington%20Station,%20NY%2011746,%20USA&addressInfo=The%20Karat%20Shop&showZoom=true&showStreetView=true&showMapType=true" scrolling="no" title="Google Maps" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="social-links">
                <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                <a href=""><img src="../../images/icon/twit.jpg" alt=""></a>
                <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
            </div>
            <p>Karatshop.com</p>
            <p class="copy-right">© 2018 by Karat Shop. Proudly created with Monomer, LLC</p>
        </div>
</footer>
</body>
</html>