<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//db.onlinewebfonts.com/c/7e0a3cd758938b211aa2fba1ba2984cc?family=ArianLT-Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spinnaker" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div class="siteBackground-container">
        <div class="siteBackground"></div>
    </div>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="visible-xs-block col-xs-12">
                    <div class="social-links">
                        <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-9">
                    <a href="#">
                    <img  class="logo" src="../../images/logo.jpg" alt="">
                    </a>
                </div>
                <div class="visible-xs block col-xs-3">
                    <div class="burger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 hidden-xs nav-soc-wrp">
                <nav class="nav">
                    <a href="" class="active">Home</a>
                    <a href="./about.html">About</a>
                    <div>
                        <a href="./collection.html" class="with-dropdown">Collections</a>
                        <div class="dropdown">
                            <a href="">Bridal</a>
                            <a href="">Rings</a>
                            <a href="">Earrings</a>
                            <a href="">Necklaces</a>
                            <a href="">Bracelets</a>
                        </div>
                    </div>
                    <a href="./contact.html">Contact us</a>
                    <a href="./book-online.html">Book Online</a>
                    <a href="">Blog</a>
                    <a href="">Members</a>
                </nav>
                <div class="social-links">
                    <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <nav class="nav">
                <a href="" class="active">Home</a>
                <a href="./about.html">About</a>
                <div>
                    <a class="mobile-with-dropdown">Collections</a>
                    <div class="mobile-dropdown">
                        <a href="">Bridal</a>
                        <a href="">Rings</a>
                        <a href="">Earrings</a>
                        <a href="">Necklaces</a>
                        <a href="">Bracelets</a>
                    </div>
                </div>
                <a href="./contact.html">Contact us</a>
                <a href="./book-online.html">Book Online</a>
                <a href="">Blog</a>
                <a href="">Members</a>
            </nav>
        </div>
    </header>
    
    <section class="about-us_bg">
        <div class="container-fluid">
            <div class="about-us">
                <p>Being a jeweler in Huntington Station, NY, we've been bringing you the best jewelry for over 40 years. </p>
                <p>Since our opening, The Karat Shop has been offering the finest quality diamond and gold jewelry for no less than 50% suggested retail cost.</p>
                <span>ABOUT US</span>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid designs_container">
            <div class="designs_right">
                <span>DESIGNS</span>
                <p>Our Artisan Jewelers hand craft every piece to an exactness and quality unmatched by competitors. Commemorate your special occasions with hand picked pieces from The Karat Shop</p>
                <a href="" class="common-btn">View Collections</a>
            </div>
            <div class="designs_left">
                <img src="../../images/pic1.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="our-collection__bg">
        <div class="container">
            <p class="our-collection-title">Our Collections</p>
            <ul class="our-collection__container">
                <li class="our-collection__item">
                    <p>Engagement Rings</p>
                    <img src="../../images/prod/1.jpg" alt="">
                    <a href="" class="common-btn">View Collections</a>
                </li>
                 <li class="our-collection__item">
                    <p>Designer Rings</p>
                    <img src="../../images/prod/2.jpg" alt="">
                    <a href="" class="common-btn">View Collections</a>
                </li>
                 <li class="our-collection__item">
                    <p>Necklaces</p>
                    <img src="../../images/prod/3.jpg" alt="">
                    <a href="" class="common-btn">View Collections</a>
                </li>
                 <li class="our-collection__item">
                    <p>Bracelets</p>
                    <img src="../../images/prod/4.jpg" alt="">
                    <a href="" class="common-btn">View Collections</a>
                </li>
                 <li class="our-collection__item">
                    <p>Earrings</p>
                    <img src="../../images/prod/5.jpg" alt="">
                    <a href="" class="common-btn">View Collections</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="bridal-collection__bg">
        <div class="container">
            <p class="bridal-collection__title">Bridal Collections</p>
            <div class="bridal-collection-text">At The Karat Shop, we help you create custom designs, place special orders, or choose from our tremendous inventory of beautiful bridal pieces to find the perfect piece for you</div>
            <div class="bridal-collection__coming-soon-container">
                <div>
                    <span>Engagement Rings</span>
                    <span>Wedding Bands</span>
                    <span>Bridal Jewelry</span>
                </div>
                <div class="bridal-collection__coming-soon">Coming Soon to Website</div>
            </div>
        </div>
    </section>

    <section class="contacts__bg">
        <p class="contacts__title">Reach Out</p>
        <p class="contacts__subtitle">We'd love to hear from you</p>
        <ul class="contacts__list">
            <li class="first">
                <div class="bg"></div>
                <img src="../../images/icon/tel.png" alt="">
                <p>sam.karatshop@gmail.com</p>
            </li>
            <li class="second">
                <div class="bg"></div>
                <img src="../../images/icon/phone.png" alt="">
                <p>631-271-5151</p>
            </li>
            <li class="third">
                <div class="bg"></div>
                <img src="../../images/icon/fb.png" alt="">
                <p>Find us on Facebook</p>
            </li>
        </ul>
    </section>

    <section class="check-blog__bg">
        <div class="container">
            <p class="check-blog__title">Check Out Our Blog </p>
            <p class="check-blog__subtitle">Follow us on Instagram and like us on Facebook for blog posts,<br> pictures, exclusive deals and other updates.</p>
            <div class="social-links">
                <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
            </div>
            <a href="" class="vie-blog-btn">View Blog</a>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="social-links">
                <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                <a href=""><img src="../../images/icon/twit.jpg" alt=""></a>
                <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
            </div>
            <p>Karatshop.com</p>
            <p class="copy-right">© 2018 by Karat Shop. Proudly created with Monomer, LLC</p>
        </div>
    </footer>
</body>
</html>