<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//db.onlinewebfonts.com/c/7e0a3cd758938b211aa2fba1ba2984cc?family=ArianLT-Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spinnaker" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div class="siteBackground-container">
        <div class="siteBackground"></div>
    </div>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="visible-xs-block col-xs-12">
                    <div class="social-links">
                        <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                        <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-9">
                    <a href="#">
                    <img  class="logo" src="../../images/logo.jpg" alt="">
                    </a>
                </div>
                <div class="visible-xs block col-xs-3">
                    <div class="burger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 hidden-xs nav-soc-wrp">
                <nav class="nav">
                    <a href="" class="active">Home</a>
                    <a href="./about.html">About</a>
                    <div>
                        <a href="./collection.html" class="with-dropdown">Collections</a>
                        <div class="dropdown">
                            <a href="">Bridal</a>
                            <a href="">Rings</a>
                            <a href="">Earrings</a>
                            <a href="">Necklaces</a>
                            <a href="">Bracelets</a>
                        </div>
                    </div>
                    <a href="./contact.html">Contact us</a>
                    <a href="./book-online.html">Book Online</a>
                    <a href="">Blog</a>
                    <a href="">Members</a>
                </nav>
                <div class="social-links">
                    <a href=""><img src="../../images/icon/fb.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/inst.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/yt.jpg" alt=""></a>
                    <a href=""><img src="../../images/icon/g.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <nav class="nav">
                <a href="" class="active">Home</a>
                <a href="./about.html">About</a>
                <div>
                    <a class="mobile-with-dropdown">Collections</a>
                    <div class="mobile-dropdown">
                        <a href="">Bridal</a>
                        <a href="">Rings</a>
                        <a href="">Earrings</a>
                        <a href="">Necklaces</a>
                        <a href="">Bracelets</a>
                    </div>
                </div>
                <a href="./contact.html">Contact us</a>
                <a href="./book-online.html">Book Online</a>
                <a href="">Blog</a>
                <a href="">Members</a>
            </nav>
        </div>
    </header>
    <section>
        <div class="container product__container">
            <div class="visible-xs-block">
                <a href="" class="back-to__link">Back to Rings</a>
            </div>
            <div class="brearcrumbs-nav__wrp hidden-xs">
                <div class="breadcrumbs">
                    <a href="">Home</a>
                    <span>/</span>
                    <a href="">Rings</a>
                    <span>/</span>
                    <a href="" class="active">R01188</a>
                </div>
                <div class="product-navigation">
                    <a href="" class="prev">Prev</a>
                    <span>|</span>
                    <a href="" class="next">Next</a>
                </div>
            </div>
            <div class="product-container">
                <div class="product-container__img">
                    <img src="../../images/rings/1.jpg" alt="">
                </div>
                <div class="product-container__descr">
                    <p class="articul">R01188</p>
                    <div class="quont">
                        <label for="quont" class="custom-label">Quantity</label>
                        <div class="quont-wrp">
                            <input type="text" id="quont" value="1" size="5"/>
                            <div class="plus-minus-wrp">
                                <span class="plus"></span>
                                <span class="minus"></span>
                            </div>
                        </div>
                    </div>
                    <button disabled="disabled" class="contact-to-purchase">Contact Us To Purchase</button>
                    <div class="socials-links">
                        <a href="">
                            <img src="../../images/icon/1.svg" alt="">
                        </a>
                        <a href="">
                            <img src="../../images/icon/2.jpg" alt="">
                        </a>
                        <a href="">
                            <img src="../../images/icon/3.png" alt="">
                        </a>
                        <a href="">
                            <img src="../../images/icon/4.svg" alt="">
                        </a>
                        <a href="">
                            <img src="../../images/icon/5.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="product__charact">
                <ul>
                    <li>Style Class: DIA</li>
                    <li>Metal: 14K Rose Gold</li>
                    <li>Total Metal Weight: 1.35 gr.</li>
                    <li>Color Stone: Round Diamonds</li>
                    <li>Diamond Count: 8</li>
                    <li>Total Diamond Weight: 0.03 ct.</li>
                </ul>
            </div>
            <div class="visible-xs-block">
                <div class="product-navigation">
                    <a href="" class="prev">Prev</a>
                    <a href="" class="next">Next</a>
                </div>
            </div>
        </div>
    </section>