.blog__container{
    background: #fff;
    padding: 20px;
    @include bp (sm){
        padding: 0;
    }
}

.blog__sort-block{
    padding: 0;
}

.blog__sort-log-container{
    display: flex;;
    align-items: center;
    justify-content: space-between;
    @include bp (sm){
        padding: 10px;
        background: #7795A3;
        color: #fff;
        font-size: 12px;
        div{
            display: flex;
            align-items: center;
        }
    }
}

.blog__sorting{
    display: flex;
    a{
        display: block;
        color: #000;
        font-size: 14px;
        font-family: 'Overlock', cursive;
        margin-right: 40px;
        &.active{
            color: #7795A3;
        }
        &:hover{
            color: #7795A3;
            text-decoration: none;
        }
    }
}

.blog__search-login{
    display: flex;
    align-items: center;
    .search-wrp{
        position: relative;   
        min-width: 15px;     
        .search{
            position: relative;
            width: 0;
            transition: .3s;
            .search-input{
                font-size: 12px;    
                color: #000;
                padding: 0px;
                border: none;
                border-bottom: 1px solid #000;
                width: 100%;
                &::placeholder{
                    font-size: 14px;
                    font-family: 'Overlock', cursive;
                    color: #7795A3;
                }
                &:focus{
                    outline: none;
                }
            }
            .close-search-icon{
                position: absolute;
                width: 15px;
                height: 15px;
                background: #fff;
                top: 7px;
                right: 0;
                z-index: 1;
                opacity: 0;
                &:hover{
                    cursor: pointer;
                }
            }
            &.open{
                width: 200px;
                .search-input{
                    padding: 5px 20px;
                }
                .close-search-icon{
                    opacity: 1;
                }
            }
        }
    }
}
.seacher-icon{
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    top: 6px;
    left: 0;
    z-index: 2;
    cursor: pointer;
    @include bp (sm){
        background: transparent;
        position: static;
        margin-right: 10px;
    }
}
.user-icon{
    display: block;
    margin: 0 20px;
    img{
        width: 16px;
        height: 16px;
    }
    &:hover{
        text-decoration: none;
    }
}
.sign-up-btn{
    border: 1px solid #7795A3;
    background-color: transparent;
    margin-left: 24px;
    font-size: 14px;
    font-family: 'Overlock', cursive;
    padding: 0 24px;
    color: #7795A3;
    text-align: center;
    line-height: 35px;
    &:hover{
        text-decoration: none;
    }
}


.sign-up-btn__mobile{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Overlock', cursive;
    margin-left: 10px;  
    &:hover{
        text-decoration: none;
    }
}

.blog__item{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin: 20px 0;
    border: 1px solid #CCCCCC;
    @include bp (sm){
        flex-direction: column;
    }
    &.user-account{
        flex-direction: column;
        .blog__item-img{
            width: 100%;
        }
    }
}

.blog__item-img{
    width: 50%;
    height: initial;
    object-fit: cover;
    @include bp (sm){
        width: 100%;
        height: 200px;
    }
}

.blog__item-text{
    padding: 35px 40px 37px;
    position: relative;
    @include bp (sm){
        padding: 25px 20px 27px;
    }
}

.blog__item-author-date{
    padding-left: 32px;
    font-family: 'Spinnaker', sans-serif;
    color: #000;
    opacity: .8;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.blog__item-author{
    color: #000;
    font-size: 10px;
    margin-bottom: 5px;
    opacity: .8;
    &:hover{
        color: #7795A3;
        text-decoration: none;
        cursor: pointer;
    }
}

.post-author{
    width: 13px;
    height: 10px;
    object-fit: contain;
}

.post-author-hover{
    position: absolute;
    top: -15px;
    right: -12px;
    color: #fff;
    font-size: 10px;
    line-height: 16px;
    padding: 0 5px;
    background: #000;
    opacity: 0;
    font-family: 'Spinnaker', sans-serif;
    &:after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #000000 transparent transparent transparent;
        position: absolute;
        bottom: -5px;
        left: 18px;
    }
}

.post-author:hover + .post-author-hover{
    opacity: 1;
}

.blog__item-little-text{
     font-family: 'Spinnaker', sans-serif;
    color: #000;
    opacity: .8;
    font-size: 10px;
    &:hover{
        text-decoration: none;
    }
    img{
        width: 10px;
        height: 10px;
        object-fit: contain;
        margin-right: 15px;
    }
}

.blog__item-title{
    font-size: 28px;
    line-height: 30px;
    font-family: 'Spinnaker', sans-serif;
    color: #000;
    display: block;
    margin-bottom: 20px;
    opacity: 1;
    @include bp (sm){
        font-size: 20px;
        line-height: 28px;
    }
}

.blog__item-link-wrp{
    font-family: 'Spinnaker', sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 25px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCCCCC;
    display: block;
    span{
        opacity: .8;
    }
    &:hover{
        text-decoration: none;
        color: #000;
        .blog__item-title{
            color: #7795A3;
        }
    }
}

.blog__item-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__item-info-like{
    img{
        width: 15px;
        height: 12px;
        object-fit: contain;
    }
}

.share-icon{
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    span{
        width: 5px;
        height: 5px;
    }
    &:hover{
        color: #7795A3;
        cursor: pointer;
    }
    &.user-account{
        top: 0;
        right: 0;
    }
}

.share-post{
    opacity: 0;
    visibility: hidden;
    padding: 10px 18px;
    background: #fff;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.2); 
    position: absolute;
    right: 40px;
    top: 65px;
    width: 170px;
    a{
        color: #000;
        font-size: 13px;
        font-family: 'Spinnaker', sans-serif;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
    img{
        width: 12px;
        height: 12px;
        object-fit: contain;
        margin-right: 6px;
    }
    &.open{
        opacity: 1;
        visibility: visible;
    }
    &.user-account{
        right: 0px;
        top: 35px;
    }
}

.share-popup-container{
    background: #fff;
    padding: 50px;
    position: relative;
    img{
        width: 15px;
        height: 15px;
        object-fit: contain;
        margin-right: 6px;
    }
    span{
        color: #000;
        font-size: 16px;
        font-family: 'Spinnaker', sans-serif;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
    .mfp-close{
        width: 35px;
        height: 35px;
        opacity: 1;
        right: 0px;
        top: 0px;
        background: url('../images/icon/delete.png') center no-repeat;
        background-size: contain;
        @include bp (xs){
            right: 30px;
            top: 30px;
        }
    }
    @include bp (xs){
        padding: 30px;
    }
}

.share-links{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
    .social{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 18px;
        &.facebook{
            background-color: #4464a3;
        }
        &.twitter{
            background-color: #55acee;
        }
        &.google{
            background-color: #dd4b39;
        }
        &.link{
            background-color: #333;
        }
    }
}

.share-link-input{
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    padding: 5px;
    color: #000;
    font-size: 14px;
    font-family: 'Spinnaker', sans-serif;
    width: 100%;
    &:focus{
        outline: none;
    }
}

.share-link-popup-btns{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .cancel{
        border: 1px solid #7795A3;
        color: #7795A3;
        font-size: 16px;
        font-family: 'Overlock', cursive;
        padding: 0 24px;
        line-height: 45px;
        margin-right: 20px;
        &:hover{
            text-decoration: none;
        }
        @include bp (xs){
            font-size: 14px;
            padding: 0 10px;
            line-height: 35px;
        }
    }
    .copy{
        color: #fff;
        font-size: 16px;
        font-family: 'Overlock', cursive;
        padding: 0 24px;
        line-height: 45px;
        background: #7795A3;
        border: 1px solid #7795A3;
        &:hover{
            text-decoration: none;
        }
        @include bp (xs){
            font-size: 14px;
            padding: 0 10px;
            line-height: 35px;
        }
    }
}

